<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="lost-container">

<h1>📝 Register</h1>
<p class="form-subtitle">
Create your account and start recovering lost items
</p>
<p style="text-align:center;margin-top:20px;">
Already have an account?
<a href="/login">Login</a>
</p>

<form action="/register" method="POST">

<input
type="text"
name="username"
placeholder="Username"
required>
<input
type="text"
name="roll_no"
placeholder="Student Roll Number"
required>

<input
type="email"
name="email"
placeholder="Email"
required>

<input
type="password"
name="password"
placeholder="Password"
required>

<button type="submit">
Register
</button>

</form>

</div>

</body>
</html>